    {{#each posts as | post | }}
    <div class="card">
        <a href="/post/{{id}}">
        <div class="col-8 edit card-header">{{post.title}}</div>
      </a>
  <br><h2 class="card-user">Posted by {{user.username}}</h2>
    <p class="card-body">{{post.createdAt}}</p>
    </div>
    {{/each}}

