<div class="row justify-space-between-md">
  <div class="login-card">
    <form class="form edit-post-form">
      <div class="form-group">
        <label for="new-post">Post Title:</label> <br>
        <input class="form-input" type="text" id="edit-title" />
      </div>
      <div class="form-group">
        <label for="post-id">{{id}}</label> <br>
        <label for="post-body">Post Body:</label> <br>
        <input class="form-input" type="text" id="edit-body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/edit.js"></script>